<div>
  <h2 id="page-heading" data-cy="TypePlanteHeading">
    <span>Type Plantes</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-type-plante"
        [routerLink]="['/type-plante/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span> Create a new Type Plante </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="typePlantes?.length === 0">
    <span>No typePlantes found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="typePlantes && typePlantes.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span>ID</span></th>
          <th scope="col"><span>Humidite Min</span></th>
          <th scope="col"><span>Humidite Max</span></th>
          <th scope="col"><span>Temperature Min</span></th>
          <th scope="col"><span>Temperature Max</span></th>
          <th scope="col"><span>Limunosite</span></th>
          <th scope="col"><span>Libelle</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let typePlante of typePlantes; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/type-plante', typePlante.id, 'view']">{{ typePlante.id }}</a>
          </td>
          <td>{{ typePlante.humiditeMin }}</td>
          <td>{{ typePlante.humiditeMax }}</td>
          <td>{{ typePlante.temperatureMin }}</td>
          <td>{{ typePlante.temperatureMax }}</td>
          <td>{{ typePlante.limunosite }}</td>
          <td>{{ typePlante.libelle }}</td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/type-plante', typePlante.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/type-plante', typePlante.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline">Edit</span>
              </button>

              <button type="submit" (click)="delete(typePlante)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
