<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-boitier-heading" data-cy="BoitierCreateUpdateHeading">Create or edit a Boitier</h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" [hidden]="editForm.get('id')!.value == null">
          <label class="form-label" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_refrence">Refrence</label>
          <input type="text" class="form-control" name="refrence" id="field_refrence" data-cy="refrence" formControlName="refrence" />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_nbrBranche">Nbr Branche</label>
          <input
            type="number"
            class="form-control"
            name="nbrBranche"
            id="field_nbrBranche"
            data-cy="nbrBranche"
            formControlName="nbrBranche"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_installation">Installation</label>
          <select class="form-control" id="field_installation" data-cy="installation" name="installation" formControlName="installation">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="
                installationOption.id === editForm.get('installation')!.value?.id ? editForm.get('installation')!.value : installationOption
              "
              *ngFor="let installationOption of installationsSharedCollection; trackBy: trackInstallationById"
            >
              {{ installationOption.id }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
